body {
    background-color: black;
    align-items: center;
    justify-content: center;
}

.playGrid {
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
}

.blackSquare {
    background-color: #779656;
}

.whiteSquare {
    background-color: #eeeed2;
}

.piece {
    width: 100px;
    position: absolute;
}

.darken {
    opacity: 0.5;
}