body {
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.playGrid {
    align-items: space-around;
    justify-content: space-around;
}

.row {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
}

.blackSquare {
    background-color: #4b7399;
}

.whiteSquare {
    background-color: #eae9d2;
}

.piece {
    width: 100px;
    position: absolute;
}

.darken {
    opacity: 0.5;
}